# Ignore Gradle project-specific cache directory
.gradle
.vscode

# Ignore Gradle build output directory
build
build.gradle
gradle.bat

.vscode/
app/bin/
javafx-sdk-20
app/build.gradle

# Ignore build files
*.o
*.class

controller/server
log.txt